<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/base}"
>
<head>
    <title>Index Page</title>
</head>
<body>
<section layout:fragment="content">
    <h1>
        Index Page
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur culpa cupiditate dolorum, eaque exercitationem harum incidunt ipsa libero, magnam minus nemo, odio officia porro quas quod saepe. Deleniti, porro.
    </p>
</section>

</body>
</html>